<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="page_google.css"/>
    <%= favicon_link_tag asset_path('favicons.png') %>
    <title>Google</title>
  </head>
  <body>
    <header>
      <ul class="nav">
        <li><a href="#">Gmail</a></li>

               <li><a href="#">Images</a></li>

               <li><img src="https://cdn3.iconfinder.com/data/icons/navigation-and-settings/24/Material_icons-01-11-512.png" class="img_app"></li>

               <li><button type="button" class="btn" href="#">Connexion</button></li>

           </ul>

        </header>




       <main>

           <%= image_tag 'image_google.png', class:'logo' %>

           <form class="google">

               <input type="text" class="formulaire"/>

               <input type="image" class="img_btn" src="https://img.generation-nt.com/google-micro-logo_0096006401628319.jpg"/> <br>

               <input type="submit" class="btn_formulaire1" value="Recherche Google"/>

               <input type="submit" class="btn_formulaire2" value="J'ai de la chance"/>

           </form>

        </main>

        <footer>

            <hr>

            <p>France</p> <hr>

            <ul class="bas_gauche">

                <li><a href="#">Publicité</a></li>

                <li><a href="#">Entreprise</a></li>

                <li><a href="#">À propos</a></li>

            </ul>

            <ul class="bas_droit">

               <li><a href="#">Info consommateurs</a></li>

               <li><a href="#">Confidentialité</a></li>

               <li><a href="#">Conditions</a></li>

               <li><a href="#">Paramètres</a></li>

           </ul>




        </footer>










   </body>












</html>
